*{margin: 0; padding: 0;}
a {text-decoration: none;}
li {list-style: none;}
i, em, address {font-style: normal;}

#wrap {
    width: 100%;
    height: auto;
}
#header {
    width: 100%;
    height: auto;
    border: 1px solid black;
}
#header > nav {
    max-width: 1200px;
    height: 103.95px;
    margin: 0px auto;
}
#header > nav > h2 {
    float: left;
    width: 129px;
    margin-top: 32px;
    background-color: #fff;
    border: 1px solid red;
}
#header > nav > h2 > a {
    width: 129px;
    display: block;
}
#header > nav > h2 > a > img{
    width: 129px;
   margin-top: 5px;
}
#header .menu-pc {
    border: 1px solid red;
    float: right;
    margin-top: 32px;
  
}
#header .menu-pc > li {
    position: relative;
    float: left;
    margin: 0 0.93em;
    padding: 0.618em 0;
    transition: 0.3s;
}
#header .menu-pc > li > a{
    font-weight: bold;
    display: block;
    transition: 0.3s;
    color: #333;
}
#header .menu-pc > li > a:hover{
   color: gray;
   opacity: 0.8;
}

.submenu {
    display: none;
    position: absolute;
    left: -30px;
    top:40px;
    z-index: 1;
}

ul.submenu > li{
    
    margin: 0 0.93em;
    padding: 0.618em 0.618em 0 0.618em ;
    box-sizing: border-box;
    background-color:#000000;
   
}
ul.submenu > li:last-of-type{
   padding-bottom: 0.618em;
}


.submenu > li > a{
    color: white;
   
}

/*섹션1*/

#section1 {
    position: relative;
    width: 100%;
    height: auto;
    }

#section1 img {
    width: 100%;
    object-fit: cover;
}

#section1 p {
    position: absolute;
    left: 50%;
    top: 60%;
    margin-left: -25%;

}

.menu-m-btn {display: none;}

@media all and (max-width:1229px){
    #header > nav {
      max-width: 946.400px;
        height: 50px;
        margin: 0px auto;
    }
    #header .menu-pc {
       display: none;
    }
    #header > nav > h2 {
        float: left;
        width: 129px;
        margin-top: 32px;
        background-color: #fff;
        border: 1px solid red;
    }
    #header > nav > h2 > a {
        width: 129px;
        display: block;
    }
    #header > nav > h2 > a > img{
        width: 129px;
       margin-top: 5px;
    }
    .menu-m-btn {display: block; float: right; background-color: transparent; border: none;
   margin-top: 14px;}
}
